@mixin light-ui-theme-vars {
  --primary-color-h: 204.9;
  --primary-color-s: 100%;
  --primary-color-l: 40.2%;
  --primary-color: hsl(
    var(--primary-color-h),
    var(--primary-color-s),
    var(--primary-color-l)
  );

  --text-color: #333;
  --bg-color: #fff;
  --warning-color: #ffbb00;
  --error-color: #eb0000;

  --link-color: var(--primary-color);
  --link-color--visited: #663399;
}

@mixin dark-ui-theme-vars {
  --primary-color-h: 205;
  --primary-color-s: 100%;
  --primary-color-l: 46.1%;
  --primary-color: hsl(
    var(--primary-color-h),
    var(--primary-color-s),
    var(--primary-color-l)
  );

  --text-color: #e4e4e4;
  --bg-color: #1e1e1e;
  --error-color: #ff3131;

  --link-color: var(--primary-color);
  --link-color--visited: #a470cf;
}

// System Default theme
:root {
  @include light-ui-theme-vars;

  a {
    color: var(--link-color);

    &:visited {
      color: var(--link-color--visited);
    }
  }
}

// Light theme
@media (prefers-color-scheme: light) {
  :root {
    @include light-ui-theme-vars;
  }
}

body.light-ui-theme {
  @include light-ui-theme-vars;
}

// Dark theme
@media (prefers-color-scheme: dark) {
  :root {
    @include dark-ui-theme-vars;
  }
}

body.dark-ui-theme {
  @include dark-ui-theme-vars;
}
