// Font sizes
$__font-size-small: 0.8rem;

// Layout units
$__spacing-unit: 0.5rem;

// Responsive breakpoints - Taken from Bootstrap.
$__breakpoint-sm: 576px;
$__breakpoint-md: 768px;
$__breakpoint-lg: 992px;
$__breakpoint-xl: 1200px;
